.container {
  display: flex;
  flex-direction: row;
}

.left-1 {
  flex: 1;
  transform: translate(-20%, -20%);
}

.left-3 {
  flex: 1;
  position: absolute;
  transform: translate(40%, 25%);
}
.left-4 {
  flex: 1;
  position: absolute;
  transform: translate(30%, 90%);
}
.left-5 {
  flex: 1;
  transform: translate(-120%, 90%);
}

.right {
  padding-top: 50px;
  flex: 2;
}
/* Header styling */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

/* Form styling */
form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
}

input[type="text"],
input[type="number"],p {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 350px;
}

/* Result styling */
.result {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.my-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 350px;
}

.my-button:hover {
  background-color: #32db3a;
  color: black;
}

.link-style {
  color: white; /* Change the text color */
  text-decoration: none; /* Remove the underline */
}
